/* ————— homefeatured.tpl ————— */
.main_page_products ul {
	list-style: none;
}
.main_page_products ul li {
	text-align: left;
	margin-bottom: 30px;
	float: left;
	position: relative;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-ms-box-sizing:border-box;
	padding:34px 20px 15px 20px;
}
.main_page_products ul li.alpha { clear:left;}
.main_page_products ul li a {
	position: relative;
}
.main_page_products ul li img.next-img {
	z-index: 9;
	width: 270px;
	position: absolute;
	top: 0;
	left: 0;
}
.main_page_products ul li img {
	display: block;
	overflow: hidden;
}
.main_page_products ul li img.main-img {
	display: block;
	margin:0 auto;
}
.main_page_products ul li .product_image {
	width: 100%;
	display: block;
	padding-bottom: 0px;
	overflow: hidden;
	text-align:center;
	position: relative;
}
.main_page_products ul li  {
	border: 1px solid #d8d8d8
}
.main_page_products ul li div {
	text-align: left;
}
.main_page_products ul li > div { overflow:hidden;}
.main_page_products ul li h5 {
	padding: 29px 0 5px 0;
}
.main_page_products ul li p.product_desc {
	padding: 0px 0 0 0;
	margin-bottom:9px;
	color:#727272;
	font-size:13px; 
	line-height:19px;
	font-family:Arial, Helvetica, sans-serif;
}
.main_page_products ul li .price{ margin-bottom:7px;}
.main_page_products ul li .button, .main_page_products ul li .exclusive { margin-bottom:4px;}
.main_page_products ul li .exclusive{
	border:none;
	border-right: 1px solid #537d1e;
	border-bottom: 1px solid #2e5519;
	color: #fff;
	text-transform:uppercase;
	margin-right: 2px;
	padding:4px 9px 4px 8px;
	font-size:25px;
	background:#3d7020;
}
.main_page_products ul li .exclusive:hover{
	color:#000;
	border:none;
	border-right: 1px solid #537d1e;
	border-bottom: 1px solid #2e5519;
	text-transform:uppercase;
	margin-right: 2px;
	padding:4px 9px 4px 8px;
	font-size:25px;
	background:#3d7020;
}
@media only screen and (min-width: 768px) and (max-width: 979px) {
.main_page_products ul li span.exclusive {
	padding-left: 30px;
	padding-right: 30px;
}
.main_page_products ul li .exclusive {
	margin-bottom: 4px;
}
.main_page_products h4 {
	padding-top: 6px;
	margin-bottom: 20px;
}
.main_page_products ul li {
	padding: 15px;
	margin-bottom: 20px;
}
}
@media only screen and (max-width: 767px) {
.main_page_products h4 {
	font-size: 17px;
	padding: 10px 11px 10px 0px;
	margin-bottom: 20px
}
.main_page_products ul li {
	float: left;
	margin: 0 0 20px 0;
	border: 1px solid #cccccc;
	padding: 16px 20px 20px 20px;
}
.main_page_products ul li h5 {
	padding: 0px 0 7px 0;
}
.main_page_products ul li .product_image.feat-mobile {
	display: inline-block;
	float: left;
	margin-right: 10px;
	height: 181px;
	padding-bottom: 0;
	text-align: center;
	width: 118px;
}
.main_page_products ul li .product_image {
	width: 118px;
	float: left;
	margin-right: 20px;
	margin-bottom: 0px;
	margin-top: 4px;
}
.main_page_products ul li span.price {
	padding: 12px 0 4px 0;
	font-size: 24px;
	display: block;
}
.main_page_products ul li img {
	width: 118px;
	height: 118px;
}
.main_page_products ul li .button {
	display: inline-block;
	margin: 20px 0 0 0;
}
.main_page_products ul li .exclusive, .main_page_products ul li a.exclusive {
	display: inline-block;
	margin: 20px 16px 0 0;
}
.main_page_products ul li p.product_desc {
	display: block;
	margin: 0;
}
.main_page_products .price-drop-feacherd {
	margin-left: 0px;
}
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
			.main_page_products ul li .exclusive {
				margin-right: 8px;
			}
			.main_page_products ul li span.price {
				display: inline-block;
				margin-right: 10px;
			}
		
}
@media only screen and (max-width: 480px) { 
			.main_page_products ul li > div { overflow:visible;}
}
